.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# App archives and debug symbols
*.xcappdata
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/

# Dependency managers
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Editors
.idea/
*.swp
*.tmp
